.fh5co-cta(style='background-image: url(images/image_3.jpg);')
    .overlay
    .container
        .col-md-12.text-center.animate-box
            h3 We Try To Update The Site Everyday
            p
                a.btn.btn-primary.btn-outline.with-arrow(href='#')
                    | Get started now!
                    i.icon-arrow-right