header#fh5co-header(role='banner')
    .container
        .header-inner
            h1
                a(href='index.html') Flew
            nav(role='navigation')
                ul
                    li
                        a(href='work.html') Work
                    li
                        a(href='services.html') Services
                    li
                        a(href='pricing.html') Pricing
                    li.active
                        a(href='about.html') About
                    li
                        a(href='contact.html') Contact
                    li.cta
                        a(href='#') Get started