extends _layouts/layout

block content
	include _blocks/slider
	+slider("Who We Are", "Designed with <i class='icon-heart'></i> by the fine folks at <a href='http://freehtml5.co' target='_blank'>FreeHTML5.co</a>", "slide_3.jpg")
	.fh5co-about.animate-box
		.col-md-6.col-md-offset-3.text-center.fh5co-heading
			h2 Company History
			p
				| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
		.container
			.col-md-12.animate-box
				figure
					img.img-responsive(src='images/about-img.jpg', alt='Free HTML5 Template')
			.col-md-8.col-md-push-4.animate-box
				h2 A Startup Company
				p
					| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
				p
					a.btn.btn-primary.btn-outline.with-arrow(href='#')
						| Learn more
						i.icon-arrow-right
	.fh5co-team.fh5co-light-grey-section
		.container
			.row
				.col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
					h2 The Team
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
				.col-md-4.fh5co-staff.text-center.animate-box
					img.img-responsive(src='images/person1.jpg', alt='Free HTML5 Bootstrap Template')
					h3 Athan Smith
					h4 Co-Founder, CEO
					p
						| Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
					ul.fh5co-social
						li
							a(href='#')
								i.icon-google
						li
							a(href='#')
								i.icon-dribbble
						li
							a(href='#')
								i.icon-twitter
						li
							a(href='#')
								i.icon-facebook
						li
							a(href='#')
								i.icon-instagram
				.col-md-4.fh5co-staff.text-center.animate-box
					img.img-responsive(src='images/person2.jpg', alt='Free HTML5 Bootstrap Template')
					h3 Nathalie Kosley
					h4 Co-Founder, CTO
					p
						| Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
					ul.fh5co-social
						li
							a(href='#')
								i.icon-google
						li
							a(href='#')
								i.icon-dribbble
						li
							a(href='#')
								i.icon-twitter
						li
							a(href='#')
								i.icon-facebook
						li
							a(href='#')
								i.icon-instagram
				.col-md-4.fh5co-staff.text-center.animate-box
					img.img-responsive(src='images/person3.jpg', alt='Free HTML5 Bootstrap Template')
					h3 Yanna Kuzuki
					h4 Co-Founder, Principal
					p
						| Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
					ul.fh5co-social
						li
							a(href='#')
								i.icon-google
						li
							a(href='#')
								i.icon-dribbble
						li
							a(href='#')
								i.icon-twitter
						li
							a(href='#')
								i.icon-facebook
						li
							a(href='#')
								i.icon-instagram
	#fh5co-services-section
		.container
			.row
				.col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
					h2 Our pleasure to serve you
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
				.col-md-4.text-center.item-block.animate-box
					h3 Strategy
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
					p
						a.btn.btn-primary.btn-outline.with-arrow(href='#')
							| Learn more
							i.icon-arrow-right
				.col-md-4.text-center.item-block.animate-box
					h3 Explore
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
					p
						a.btn.btn-primary.btn-outline.with-arrow(href='#')
							| Learn more
							i.icon-arrow-right
				.col-md-4.text-center.item-block.animate-box
					h3 Expertise
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
					p
						a.btn.btn-primary.btn-outline.with-arrow(href='#')
							| Learn more
							i.icon-arrow-right
	include _blocks/before_footer