extends _layouts/layout
block theme-css
		// Owl Carousel
		link(rel='stylesheet', href='css/owl.carousel.min.css')
		link(rel='stylesheet', href='css/owl.theme.default.min.css')
block content
	.container
	aside#fh5co-hero.js-fullheight
		.flexslider.js-fullheight
			ul.slides
				li(style='background-image: url(images/slide_1.jpg);')
					.overlay-gradient
					.container
						.col-md-10.col-md-offset-1.text-center.js-fullheight.slider-text
							.slider-text-inner
								h2 Start Your Startup With This Template
								p
									a.btn.btn-primary.btn-lg(href='#') Get started
				li(style='background-image: url(images/slide_2.jpg);')
					.container
						.col-md-10.col-md-offset-1.text-center.js-fullheight.slider-text
							.slider-text-inner
								h2 Take Your Business To The Next Level
								p
									a.btn.btn-primary.btn-lg(href='#') Get started
				li(style='background-image: url(images/slide_3.jpg);')
					.container
						.col-md-10.col-md-offset-1.text-center.js-fullheight.slider-text
							.slider-text-inner
								h2 We Think Different That Others Can't
								p
									a.btn.btn-primary.btn-lg(href='#') Get started
	#fh5co-services-section
		.container
			.row
				.col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
					h2 Our Awesome Features
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
			.row
				.col-md-4.animate-box
					.services
						i.icon-laptop
						.desc
							h3 Dashboard
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
				.col-md-4.animate-box
					.services
						i.icon-server
						.desc
							h3 Administration
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
				.col-md-4.animate-box
					.services
						i.icon-money
						.desc
							h3 Make Money
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
				.col-md-4.animate-box
					.services
						i.icon-tablet
						.desc
							h3 SEO Monitoring
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
				.col-md-4.animate-box
					.services
						i.icon-line-chart
						.desc
							h3 Online Marketing
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
				.col-md-4.animate-box
					.services
						i.icon-pie-chart
						.desc
							h3 Business Analytics
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
	#fh5co-work-section.fh5co-light-grey-section
		.container
			.row
				.col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
					h2 Latest Projects
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
			.row
				.col-md-4.animate-box
					a.item-grid.text-center(href='#')
						.image(style='background-image: url(images/image_1.jpg)')
						.v-align
							.v-align-middle
								h3.title Geographical App
								h5.category Web Application
				.col-md-4.animate-box
					a.item-grid.text-center(href='#')
						.image(style='background-image: url(images/image_2.jpg)')
						.v-align
							.v-align-middle
								h3.title Geographical App
								h5.category User Interface
				.col-md-4.animate-box
					a.item-grid.text-center(href='#')
						.image(style='background-image: url(images/image_3.jpg)')
						.v-align
							.v-align-middle
								h3.title Geographical App
								h5.category Branded
				.col-md-4.animate-box
					a.item-grid.text-center(href='#')
						.image(style='background-image: url(images/image_4.jpg)')
						.v-align
							.v-align-middle
								h3.title Geographical App
								h5.category Web
				.col-md-4.animate-box
					a.item-grid.text-center(href='#')
						.image(style='background-image: url(images/image_5.jpg)')
						.v-align
							.v-align-middle
								h3.title Geographical App
								h5.category Illustration
				.col-md-4.animate-box
					a.item-grid.text-center(href='#')
						.image(style='background-image: url(images/image_6.jpg)')
						.v-align
							.v-align-middle
								h3.title Geographical App
								h5.category Web Application
				.col-md-12.text-center.animate-box
					p
						a.btn.btn-primary.with-arrow(href='#')
							| View More Projects
							i.icon-arrow-right
	#fh5co-testimony-section
		.container
			.row
				.col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
					h2 Clients Feedback
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
			.row
				.col-md-12.col-offset-0.to-animate
					.wrap-testimony.animate-box
						.owl-carousel-fullwidth
							.item
								.testimony-slide.active.text-center
									figure
										img(src='images/person1.jpg', alt='user')
									blockquote
										p
											| "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."
									span
										| Athan Smith, via
										a.twitter(href='#') Twitter
							.item
								.testimony-slide.active.text-center
									figure
										img(src='images/person2.jpg', alt='user')
									blockquote
										p
											| "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."
									span
										| Nathalie Kosley, via
										a.twitter(href='#') Twitter
							.item
								.testimony-slide.active.text-center
									figure
										img(src='images/person3.jpg', alt='user')
									blockquote
										p
											| "Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."
									span
										| Yanna Kuzuki, via
										a.twitter(href='#') Twitter
	#fh5co-blog-section.fh5co-light-grey-section
		.container
			.row
				.col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
					h2 Recent from Blog
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
			.row
				.col-md-6.col-sm-6.animate-box
					a.item-grid(href='#')
						.image(style='background-image: url(images/image_1.jpg)')
						.v-align
							.v-align-middle
								h3.title We Create Mobile App
								h5.date
									span June 23, 2016
									span 4 Comments
								p
									| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
				.col-md-6.col-sm-6.animate-box
					a.item-grid(href='#')
						.image(style='background-image: url(images/image_2.jpg)')
						.v-align
							.v-align-middle
								h3.title Geographical App
								h5.date
									span June 22, 2016
									span 10 Comments
								p
									| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.
				.col-md-12.text-center.animate-box
					p
						a.btn.btn-primary.with-arrow(href='#')
							| View More Post
							i.icon-arrow-right
	#fh5co-pricing-section
		.container
			.row
				.col-md-6.col-md-offset-3.text-center.fh5co-heading.animate-box
					h2 Pricing
					p
						| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
			.row
				.pricing
					.col-md-3.animate-box
						.price-box
							h2.pricing-plan Starter
							.price
								sup.currency $
								| 9
								small /month
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
							a.btn.btn-select-plan.btn-sm(href='#') Select Plan
					.col-md-3.animate-box
						.price-box
							h2.pricing-plan Basic
							.price
								sup.currency $
								| 27
								small /month
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
							a.btn.btn-select-plan.btn-sm(href='#') Select Plan
					.col-md-3.animate-box
						.price-box.popular
							h2.pricing-plan.pricing-plan-offer
								| Pro
								span Best Offer
							.price
								sup.currency $
								| 74
								small /month
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
							a.btn.btn-select-plan.btn-sm(href='#') Select Plan
					.col-md-3.animate-box
						.price-box
							h2.pricing-plan Unlimited
							.price
								sup.currency $
								| 140
								small /month
							p
								| Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
							a.btn.btn-select-plan.btn-sm(href='#') Select Plan
	include _blocks/before_footer
block theme-js
	// jQuery
	script(src='js/jquery.min.js')
	// jQuery Easing
	script(src='js/jquery.easing.1.3.js')
	// Bootstrap
	script(src='js/bootstrap.min.js')
	// Waypoints
	script(src='js/jquery.waypoints.min.js')
	// Owl Carousel
	script(src='js/owl.carousel.min.js')
	// Flexslider
	script(src='js/jquery.flexslider-min.js')
	// MAIN JS
	script(src='js/main.js')
